@import url(../css/reset.css);
html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper .main {
  flex-grow: 1;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: content-box;
}

.page-section {
  margin-bottom: 120px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: #161414;
}

.section__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}
.section__top a img {
  transition: .3s all ease-out;
}
.section__top a img:hover {
  transform: rotate(-9deg);
}

.header {
  border-radius: 0 0 64px 64px;
  background-image: url(/images/bg-image.avif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: calc(100vh - 93px);
}
.header__top {
  position: fixed;
  background-color: transparent;
  transition: .2s all linear;
  width: 100%;
  z-index: 10;
}
.header__top.active {
  background-color: #000;
}
.header__logo {
  display: flex;
}
.header__menu {
  max-width: 1360px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  align-items: center;
}
.header__menu-list {
  display: flex;
  gap: 50px;
}
.header__menu-link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  transition: .3s all ease-out;
  position: relative;
}
.header__menu-link::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: .3s all ease-out;
}
.header__menu-link:hover {
  color: #fff;
}
.header__menu-link:hover:after {
  transform: scaleX(1);
}
.header__menu-btn {
  width: 30px;
  height: 25px;
  background-color: transparent;
  border: none;
  padding: 0;
  display: none;
  position: relative;
}
.header__menu-btn span {
  position: absolute;
  background-color: #fff;
  height: 2px;
  width: 100%;
  transition: .3s all ease-out;
}
.header__menu-btn span:first-child {
  top: 0;
  left: 0;
}
.header__menu-btn span:nth-child(2) {
  top: 45%;
  left: 0;
}
.header__menu-btn span:last-child {
  bottom: 0;
  left: 0;
}
.header__avatar {
  display: flex;
  gap: 5px;
  color: #fff;
}
.header__avatar p {
  position: relative;
  width: 90px;
  font-size: 14px;
  cursor: pointer;
}
.header__avatar p span {
  display: block;
  padding-right: 4px;
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
}
.header__title {
  font-weight: 600;
  font-size: 48px;
  color: #fff;
  text-align: center;
  padding-top: 184px;
}
.header__main-link {
  display: block;
  margin: 0 auto;
  padding: 27px 24px;
  text-align: right;
  color: #fff;
  background-color: #7B61FF;
  width: 272px;
  border-radius: 12px;
  margin-top: 32px;
  margin-bottom: 184px;
  transition: .3s all ease-out;
}
.header__main-link:hover {
  background-color: #432ac4;
}
.header__tabs {
  position: relative;
  display: flex;
  background-color: #fff;
  max-width: 1140px;
  margin: 0 auto;
  border-radius: 12px;
  text-align-last: left;
  margin-bottom: 120px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
.header__tabs-item {
  display: flex;
  padding: 22px 35px;
  align-items: center;
  position: relative;
}
.header__tabs-item:first-child {
  padding-left: 19px;
}
.header__tabs-item span {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  z-index: 2;
  background-color: rgba(215, 4, 4, 0.8);
  opacity: 0;
  transition: .25s all ease-in-out;
}
.header__tabs-item img {
  width: 24px;
  height: 24px;
  z-index: 4;
  padding: 5px;
  box-sizing: content-box;
}
.header__tabs-item:hover span {
  opacity: 1;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.header__tabs-item:hover .header__tabs-text {
  color: #fff;
}
.header__tabs-item:hover .header__tabs-text::first-line {
  color: #fff;
}
.header__tabs-item:hover img {
  background-color: #fff;
  border-radius: 10px;
}
.header__tabs-text {
  padding-left: 16px;
  color: #161414;
  font-weight: 500;
  z-index: 3;
  transition: .4s all linear;
}
.header__tabs-text::first-line {
  color: #979797;
  transition: .5s all linear;
}
.header__tabs-search {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 15%;
  right: 8px;
  background-color: #7B61FF;
  padding: 20px;
  border-radius: 12px;
  transition: .3s all ease-out;
}
.header__tabs-search:hover {
  background-color: #432ac4;
}

.popular-destin__title {
  margin-bottom: 64px;
}
.popular-destin__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 10px;
  row-gap: 20px;
  justify-content: space-between;
}
.popular-destin__card-img {
  position: relative;
  margin-bottom: 8px;
  order: 1;
  padding: 0 0 90% 0;
}
.popular-destin__card-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: .4s transform linear;
}
.popular-destin__card-item {
  display: flex;
  flex-direction: column;
}
.popular-destin__card-item:hover .popular-destin__card-img img {
  transform: rotate(4deg);
}
.popular-destin__card-title {
  order: 2;
  font-weight: 500;
  color: #161414;
}
.popular-destin__card-text {
  order: 3;
  color: #979797;
  font-size: 14px;
}

.hotels__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}
.hotels__card-item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr minmax(20px, auto)/1fr;
}
.hotels__card-item:hover .hotels__card-image img {
  overflow: hidden;
  transform: scale(1.1);
}
.hotels__card-image {
  order: 1;
  position: relative;
  padding: 0 0 120% 0;
  margin: 0 0 10px 0;
  overflow: hidden;
}
.hotels__card-title {
  font-weight: 500;
  padding-left: 5px;
  margin-bottom: 12px;
  order: 2;
}
.hotels__card-info {
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: end;
  order: 3;
}
.hotels__card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 1s all ease;
}
.hotels__position {
  display: flex;
  padding-left: 5px;
  color: #979797;
  font-size: 14px;
  align-items: end;
}
.hotels__position img {
  padding-bottom: 2px;
}
.hotels__position p {
  padding-left: 4px;
}

.travel-tips__row {
  display: flex;
  gap: 32px;
}
.travel-tips__item {
  display: flex;
  gap: 32px;
  flex-basis: 50%;
}
.travel-tips__item:nth-child(2) .travel-tips__content {
  justify-content: start;
}
.travel-tips__item:nth-child(2) .travel-tips__text {
  padding-top: 6%;
}
.travel-tips__item:nth-child(2) .travel-tips__author {
  padding-top: 47%;
}
.travel-tips__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 316px;
}
.travel-tips__title {
  font-size: 24px;
  font-weight: 600;
}
.travel-tips__text {
  color: #979797;
}
.travel-tips__author span {
  color: #979797;
  font-size: 12px;
}
.travel-tips__author .when {
  padding-left: 20px;
  position: relative;
}
.travel-tips__author .when:before {
  content: url(/images/calendar.svg);
  position: absolute;
  left: 0;
  top: 0;
}
.travel-tips__author .who {
  padding-left: 40px;
  position: relative;
}
.travel-tips__author .who:before {
  content: url(/images/human.svg);
  position: absolute;
  left: 20px;
  top: 0;
}
.travel-tips__author .how-many {
  padding-left: 40px;
  position: relative;
}
.travel-tips__author .how-many:before {
  content: url(/images/chat.svg);
  position: absolute;
  top: 0;
  left: 20px;
}

.activities__row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  column-gap: 32px;
}
.activities__item {
  display: grid;
  grid-auto-flow: row;
  grid-template: auto 1fr / 1fr;
  margin-bottom: 30px;
}
.activities__item:hover .activities__image img {
  transform: scale(1.1);
}
.activities__image {
  position: relative;
  padding: 0 0 120% 0;
  overflow: hidden;
}
.activities__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: .7s all linear;
}
.activities__text {
  margin-top: 15px;
  font-weight: 500;
}

.about-us__inner {
  max-width: 1048px;
  padding: 0 40px;
  margin: 0 auto;
}
.about-us__row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.about-us__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  flex-basis: 50%;
}
.about-us__text {
  color: #5B5B5B;
  line-height: 32px;
}
.about-us__link img {
  transition: .3s all ease-out;
}
.about-us__link:hover img {
  transform: rotate(-9deg);
}
.about-us__image {
  transition: .3s all ease;
  flex-basis: 50%;
  cursor: pointer;
}
.about-us__image img {
  max-width: 100%;
}
.about-us__image:hover {
  transform: scale(1.05);
}

.footer {
  padding: 120px 0;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.footer__socials {
  max-width: 354px;
  margin-right: 64px;
}
.footer__socials .footer__logo {
  display: flex;
  margin-bottom: 16px;
}
.footer__socials .footer__text {
  margin-bottom: 32px;
  font-size: 14px;
  line-height: 20px;
  color: #979797;
  max-width: 320px;
}
.footer__socials .footer__contacts {
  display: flex;
  gap: 32px;
}
.footer .accordion {
  display: none;
}
.footer__menu {
  display: flex;
  padding-top: 5px;
  gap: 32px;
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 126px;
}
.footer__menu-link {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  color: #979797;
  transition: .4s all ease-out;
  position: relative;
}
.footer__menu-link:after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #161414;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: .3s all ease-out;
}
.footer__menu-link:hover {
  color: #161414;
}
.footer__menu-link:hover:after {
  transform: scaleX(1);
}
.footer__menu-item:first-child .footer__menu-link {
  font-size: 18px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
  color: #161414;
}
.footer__menu-item:first-child .footer__menu-link:hover {
  color: #161414;
}
.footer__menu-item:first-child .footer__menu-link:hover:after {
  transform: scaleX(0);
}
.footer__mail {
  position: relative;
  margin-left: 58px;
}
.footer__mail-title {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  color: #161414;
  margin-bottom: 43px;
}
.footer__form {
  position: relative;
  padding: 16px 74px 16px 56px;
}
.footer__form-input {
  border: none;
}
.footer__form-input::placeholder {
  color: #161414;
  font-weight: 500;
}
.footer__form label {
  position: absolute;
  top: -3px;
  left: 56px;
  color: #979797;
  font-size: 14px;
}
.footer__form:before {
  content: url(/images/icons/mail.svg);
  position: absolute;
  top: 7px;
  left: 16px;
}
.footer__form-link {
  display: flex;
  padding: 24px;
  border-radius: 14px;
  background-color: #7B61FF;
  position: absolute;
  bottom: 0;
  right: 15px;
}
.footer__form-link img {
  transition: .2s all ease-out;
}
.footer__form-link:hover {
  background-color: #5337de;
}
.footer__form-link:hover img {
  transform: translateX(30%);
}

@media (max-width: 1336px) {
  .header__menu {
    padding-top: 20px;
    padding-bottom: 7px;
  }

  .travel-tips .container {
    padding: 0 150px;
  }
  .travel-tips__row {
    flex-wrap: wrap;
  }
  .travel-tips__item {
    flex-basis: 100%;
    justify-content: center;
  }
  .travel-tips__item:nth-child(2) .travel-tips__content {
    justify-content: center;
  }
  .travel-tips__item:nth-child(2) .travel-tips__text {
    padding-top: 0;
  }
  .travel-tips__item:nth-child(2) .travel-tips__author {
    padding-top: 0;
  }
  .travel-tips__content {
    max-width: 100%;
    justify-content: center;
    gap: 20px;
  }

  .footer {
    padding: 60px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer .accordion {
    display: none;
  }
  .footer__socials {
    margin-right: 70px;
    max-width: 400px;
    width: 100%;
    padding-left: 40px;
  }
  .footer__mail {
    margin-left: 0;
    margin-top: 80px;
  }
}
@media (max-width: 1100px) {
  .header__menu-list {
    gap: 25px;
  }
  .header__avatar {
    padding-left: 10px;
  }

  .title {
    padding-left: 40px;
  }

  .travel-tips .title {
    padding-left: 0;
  }

  .header__tabs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header__tabs-item:first-child {
    padding-left: 35px;
  }

  .header__main-link {
    margin-bottom: 40px;
  }

  .activities__text {
    text-align: center;
  }

  .about-us__row {
    flex-wrap: wrap;
  }
  .about-us__content {
    flex-basis: 100%;
    gap: 0;
  }
  .about-us__image {
    flex-basis: 100%;
  }
  .about-us__image img {
    display: block;
    margin: 0 auto;
  }
  .about-us__title {
    margin-bottom: 32px;
  }
}
@media (max-width: 940px) {
  .header__menu {
    padding-top: 20px;
    padding-bottom: 7px;
  }
  .header__logo {
    padding-left: 100px;
  }

  body.lock {
    overflow: hidden;
  }

  .header__menu-btn {
    display: inline-block;
    z-index: 11;
  }

  .header__menu-btn.active span:first-child {
    transform: rotate(45deg) scaleX(1.1);
    top: 11px;
  }
  .header__menu-btn.active span:nth-child(2) {
    opacity: 0;
  }
  .header__menu-btn.active span:last-child {
    transform: rotate(-45deg) scaleX(1.1);
    bottom: 11px;
  }

  .header__menu-list {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 40px 0;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    transform: translateX(-100%);
    transition: .3s all linear;
    z-index: 10;
  }

  .header__menu-list.active {
    transform: translateX(0);
  }

  .header__menu-link {
    font-size: 24px;
  }

  .header__title {
    font-size: 40px;
  }

  .header__main-link {
    padding: 20px 17px;
    text-align: center;
  }

  .travel-tips .container {
    padding: 0 40px;
  }

  .footer__socials {
    margin-right: 0;
  }
  .footer__menu {
    gap: 0;
  }
}
@media (max-width: 780px) {
  .header__title {
    font-size: 26px;
    padding-top: 100px;
  }

  .footer {
    padding: 20px 0 40px 0;
    flex-wrap: wrap;
  }
  .footer__socials {
    padding-left: 0;
    max-width: 80%;
  }
  .footer__socials .footer__logo {
    justify-content: center;
  }
  .footer__socials .footer__text {
    max-width: 100%;
    text-align: center;
  }
  .footer__socials .footer__contacts {
    justify-content: center;
  }
  .footer__menu {
    width: 500px;
    margin-top: 30px;
    justify-content: space-around;
  }
  .footer__menu-list {
    width: 107px;
    align-items: center;
  }
  .footer__mail-title {
    padding: 0 20px;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .travel-tips__item {
    flex-direction: column;
  }
  .travel-tips__image {
    margin: 0 auto;
    position: relative;
  }
  .travel-tips__image img {
    width: 100%;
  }
  .travel-tips__title {
    text-align: center;
  }
}
@media (max-width: 620px) {
  .header {
    min-height: 100vh;
  }

  .header__top {
    height: 61px;
  }

  .header__avatar {
    display: none;
  }

  .header__menu {
    padding-top: 14px;
    padding-bottom: 11px;
  }

  .header__logo {
    padding-left: 0;
  }

  .header__tabs {
    grid-template: repeat(4, 1fr)/1fr;
    margin-bottom: 10px;
  }
  .header__tabs-item {
    padding-left: 15%;
    padding: 10px 17px 0 38px;
  }
  .header__tabs-item:first-child {
    padding-left: 38px;
  }
  .header__tabs-item:nth-child(4) {
    padding-bottom: 10px;
  }
  .header__tabs-search {
    position: initial;
    justify-content: center;
    padding: 10px;
  }

  .header__title {
    font-size: 24px;
    padding-top: 100px;
  }

  .header__main-link {
    padding: 15px 12px;
  }

  .page-section {
    margin-bottom: 70px;
  }

  .section__top {
    margin-bottom: 0;
  }

  .title {
    margin-bottom: 32px;
    font-size: 24px;
  }

  .activities__item:last-child {
    margin-bottom: 0;
  }

  .about-us__title {
    margin-bottom: 10px;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    padding: 40px 0 45px 0;
  }
  .footer__menu {
    display: none;
  }
  .footer .accordion {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .footer .accordion__link {
    font-size: 14px;
    color: #979797;
  }
  .footer .accordion__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    transition: .3s all linear;
  }
  .footer .accordion__item-trigger {
    display: block;
    text-align: center;
    max-width: 97px;
  }
  .footer .accordion__item::before, .footer .accordion__item::after {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #161414;
    position: absolute;
    top: 12px;
    transition: .2s all linear;
  }
  .footer .accordion__item::before {
    transform: rotate(-40deg);
    left: -15px;
  }
  .footer .accordion__item::after {
    transform: rotate(40deg);
    left: -23px;
  }
  .footer .accordion__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 0;
    opacity: 0;
    transition: .3s all linear;
  }
  .footer .accordion__item-content:last-child {
    margin-bottom: 0;
  }
  .footer .accordion__item--active::before {
    transform: rotate(40deg);
  }
  .footer .accordion__item--active::after {
    transform: rotate(-40deg);
  }
  .footer .accordion__item--active .accordion__item-content {
    opacity: 1;
    max-height: 100%;
    transition: .3s all linear;
  }
  .footer__menu-item {
    max-height: 0;
    overflow: hidden;
  }
  .footer__menu-item:first-child {
    max-height: initial;
    overflow: initial;
  }
  .footer__mail {
    margin-top: 40px;
    padding: 0 40px;
  }
  .footer__mail .footer__form-link {
    right: 50px;
  }
}
